@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: poppins;
}

body {
  margin: 0;
  background: rgb(35, 31, 103);
  color: white;
}

nav {
  background-color: rgb(19, 21, 40);
  padding: 16px;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
#flag {
  border: 5px solid white;
  border-radius: 18px;
  margin-top: 25px;
  height: 200px;
}

#name {
  text-align: center;
}

#search {
  padding: 16px;
  font-size: 18px;
  border-radius: 100px;
  width: 400px;
  transition: 0.3s all;
  &:focus {
    box-shadow: 0px 0px 18px 1px #8e37ffcd;
  }
}
#submit {
  cursor: pointer;
  background: transparent;
  padding: 13px;
  border-radius: 100px;
  position: absolute;
  margin-left: 373px;
  transition: 0.3s all;
  &:hover {
    text-shadow: 0px 0px 19px #8e37ffa5;
  }
}

#search,
#submit {
  outline: none;
  border: none;
}

.table {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#random {
  font-size: 28px;
  outline: none;
  border: none;
  padding: 15px 25px;
  border-radius: 100px;
  color: white;
  background: blueviolet;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    box-shadow: 0px 0px 24px rgba(138, 43, 226, 0.7);
  }
}
.googleMapsBtn {
  margin-top: 25px;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 15px 25px;
  border-radius: 100px;
  color: white;
  background: #35a651;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    box-shadow: 0px 0px 24px #35a651ae;
  }
}

table {
  background: rgba(255, 255, 255, 0.173);
  backdrop-filter: blur(20px);
  padding: 15px;
  border-radius: 15px;
  width: 600px;
}

td {
  padding: 7px;
}
